:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-255-182-182: rgba(255, 182, 182, 1);
}

.text-rgb-255-182-182 {
  color: var(--text-rgb-255-182-182);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.rectangle-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.rectangle-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 159.55311584472656px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 21px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 29.100000381469727px;
  line-height: 42px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-1-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.vector-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.rectangle-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 26.100000381469727px;
  line-height: 37.95212173461914px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 26.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.503124237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.887499809265137px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 30px;
  line-height: 42.959999084472656px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 7.5px;
  line-height: -2.74658203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14.53125px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-66 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 7.5px;
  line-height: -2.74658203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 7.5px;
  line-height: -2.74658203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14.1796875px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 7.5px;
  line-height: 21.959999084472656px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 7.5px;
  line-height: 21.959999084472656px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14.6484375px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.vector-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-97 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.text-98 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14.1796875px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-101 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-102 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-103 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-105 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-107 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-108 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.text-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-112 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-114 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-115 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-116 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-117 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-118 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-119 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-120 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-121 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.text-122 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14.4140625px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-111 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-124 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-125 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-126 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-127 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-128 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-129 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-130 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-131 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-132 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-133 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.text-134 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 13.9453125px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-123 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-136 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-137 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-138 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-139 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-140 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 182, 182, 1);
  border: none;
  outline: none;
}

.vector-141 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-142 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-143 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.vector-144 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.vector-145 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(107, 139, 139, 1);
  border: none;
  outline: none;
}

.group-135 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-147 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-146 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-2-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.vector-150 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.rectangle-151 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.rectangle-153 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-152 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-154 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-155 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-156 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-157 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-158 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-159 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-160 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-161 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-162 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 32.040000915527344px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-163 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-164 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-165 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-166 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-167 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 22.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-168 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 26.100000381469727px;
  line-height: 37.917877197265625px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-169 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 26.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-171 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-170 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-173 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-172 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-175 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-174 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-177 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-176 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-178 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.503124237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-179 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-180 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.887499809265137px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-182 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-181 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-149 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-3-148 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.vector-185 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.rectangle-186 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-187 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-188 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-189 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-190 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 42px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-191 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-192 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-193 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 42px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-194 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-195 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-196 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-197 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-198 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-200 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-199 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-202 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-201 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-204 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-203 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-206 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 0.75px solid rgba(132, 171, 170, 1);
  border: none;
  outline: none;
}

.text-207 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-205 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-208 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-209 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-211 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-210 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-213 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 0.75px solid rgba(132, 171, 170, 1);
  border: none;
  outline: none;
}

.text-214 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28.41796875px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-212 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-215 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
}

.text-216 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-217 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 42px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-219 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-218 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-221 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 0.75px solid rgba(132, 171, 170, 1);
  border: none;
  outline: none;
}

.text-222 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.group-220 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-223 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-224 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 29.100000381469727px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-226 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-225 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-227 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 19.67578125px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-228 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 19.846874237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-229 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20.702342987060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-230 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 19.67578125px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-231 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 19.846874237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.text-232 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 19.846874237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.frame-184 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-4-183 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.vector-235 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.rectangle-236 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.rectangle-238 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-237 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-240 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-239 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-242 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-241 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-243 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 21px;
  line-height: 29.996000289916992px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-245 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-244 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-247 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-246 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-249 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-248 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-250 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.503124237060547px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-252 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-251 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-253 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16.399999618530273px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-255 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-254 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-256 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15.887499809265137px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-255-182-182);
}

.rectangle-258 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.clip-path-frame-257 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-234 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-5-233 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.frame-1-1 {
@media (max-width: 1440px) {
  .frame-1-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .frame-1-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
